body {
   background-color:  #000;
}

.sidebar {
   position: fixed;
   left: 0;
   top: 0;
   bottom: 0px;
   padding: 12px;
   width: 300px;
}

.sidebar__navigation {
   background-color: #121212;
   border-radius: 8px;
   padding: 16px 0 0 16px;
}

.logo {
   background: #121212;
   display: flex;
   border-radius: 8px;
   padding: 16px 0 0 16px;
}

.logo img {
   width: 100px;
}

.sidebar nav ul{
   margin-top: 20px;
   padding:0 20px 10px 20px;
}

.sidebar ul li {
   padding: 10px 0;

}

.sidebar nav ul li a {
   color: #b3b3b3;
   text-decoration: none;
   font-weight: 600;
   font-size: 14px;
   font-family: "DM sans", sans-serif;
}

.Library {
   background-color: #121212;
   border-radius: 8px;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   padding: 4px 8px;
   color: #b3b3b3;
   font-weight: 600;
   font-size: 14px;
   margin-top: 10px;
}

.Library .library__content {
   display: flex;
   justify-content: space-between;
}

.Library .library__button {
   display: flex;
   margin-top: 10px;
   color: #b3b3b3;
   background-color: transparent;
   border: 0;
   font-size: 14px;
   font-weight: 700;
   font-family: "DM Sans", sans-serif;
   text-align: center;
   text-decoration: none;
   text-transform: none;
   padding: 20px 10px;

}